@font-face {
  font-family: 'Oswald';
  src: url('../../fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header-button {
  font-size: 20px;
  background: none; /* No background */
  border: none; /* No border */
  color: white; /* White text */
  cursor: pointer; /* Pointer cursor on hover */
  font-family: 'Oswald', sans-serif; /* Font family */
  font-weight: 500; /* Medium weight */
  line-height: 1; 
  position: relative; 
  z-index: 100;
  pointer-events: auto; /* Ensures the button can be interacted with */

}
.flex-container{
  display: 'flex';
  justify-content:'center';
  align-items: 'center';
  flex-direction: 'row';
}
.price{
  font-size: 1.2rem;
  color: #ffffff;
}
.hovered-button{
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.main-button {
  width: 200px;
  height: 45px;
  border-radius: 2px;
  border-width: 0;
  color: white;
  background-color: #425e48;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}


body {
  margin: 0;
  padding: 0;
  color: #1e1d06;
  letter-spacing: 0.2px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.4;
  margin: 2rem 0;
  color: #cb261c;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 30pt;
  font-weight: 500;
  line-height: 1.4; /* Removed duplicate line-height */
  margin-bottom: 1rem;
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-size: 30pt;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}

h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h5 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.4;
}

a {
  color: #fff;
  text-decoration: none;
  font-family:'Oswald', sans-serif;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

hr {
  border-bottom: none;
  border-top: 1px solid #fff;
  margin: 0;
}

pre {
  white-space: pre-wrap;
}

body > main {
  margin: 0;
}

section {
  padding: 1rem 0;
}

@media (min-width: 768px) {
  section {
    padding: 2rem 0;
  }

  form {
    max-width: 400px;
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

form {
  max-width: 100%;
}

input {
  border-radius: 4px;
  border: 1px solid #fff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
}

legend {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

dl {
  margin: 0.5rem 0;
}

code {
  background: #ddd;
  border-radius: 4px;
  font-family: monospace;
  padding: 0.25rem;
}
